<html>
    <head>
        <title>admin</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    </head>
    <body>
      <div *ngIf="isnotchange">
        <form  [formGroup]="adminform" align="center">
          <br>
          <div class="col-md-12">
              <label for="username">Username   </label>&nbsp;&nbsp;
              <input type="email" id="username"  formControlName="username" (oninput)="username($event)">
          <br><br>
              <label for="password">password   </label>&nbsp;&nbsp;
              <input type="email" id="username"  formControlName="password"  (oninput)="password($event)">
          </div>
          <br>
    <div class="form-group"><button type="button" (click)="check()">Login</button></div>
    <br>
    <span class="psw">Forgot <a style="color: blue;" (click)="changepassword()">password?</a></span>
  </form>
      </div>
<div *ngIf="ischange" align="center">

    <div id="alert"></div>
    <br><br><br>
  <div>
    <label for="password">Password</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="password" id="password"  [(ngModel)]="type" />
  </div><br>
    <div>
      <label for="password-verify">Retype password</label>&nbsp;
      <input type="password" id="password-verify" [(ngModel)]="retype"/><br>
    </div><br>
    <span> <button type="submit" (click)="submitpass()">Reset password</button></span>&nbsp;

 <button type="button" (click)="changepassword()">Go Back</button>
</div>
    </body>
</html>
